.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  padding:0;
  max-width: 210mm ;
  margin: 0 auto;
}

.foto{
  width: 20vh !important;
  height: 20vh !important;
  object-fit: cover;
  object-position:top;
} 
.workItem,.skill{
  text-align: left;
}

.fab{
  position: fixed;
  bottom: 10vh;
  right: 10vh;
}
.printable{
}